{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block content -%}
    <div class="row" >
        <side-menu-container ng-transclude>
            <div class="col-xs-12 corporation-list" ng-controller="corpListController" ng-cloak>
                <br>
                <span class="pull-right small normal_font" ng-if="needs_update.length > 0">
                    <b class="text-danger">{{ '{{ needs_update.length }}' }}</b> Corporation(s) Pending Initial Update
                </span>
                <div class="row">
                   <div class="col-xs-9">
                       <h4 class="text-info">{{ '{{ selected_corp.corporation_details.name  }}' }}</h4>
                       <select width="150px" class="form-control" ng-options="c as getLabel(c) for c in corps" ng-show="corps.length > 1" ng-model="selected_corp">
                           <option>Select A Corporation</option>
                       </select>
                   </div>
                    <div class="col-xs-3">
                        <slide-button open-type="new"></slide-button>
                    </div>
                </div>
                    {#
                <div ng-repeat="c in corps" ng-if="corps.length" ng-click="selectCorporation(c)" class="corp-item" ng-class="{ 'warning' : c.new, 'success': selected_corp.id == c.id }">
                            <eve-image image-type="'Corporation'" object_id="c.eve_id" img-width="128" ng-show="!c.new"></eve-image>
                            <loading-spinner ng-show="c.new"></loading-spinner>
                            <span class="corp-name" ng-show="!c.new">{{ '{{ c.corporation_details.name }}' }} </span>
                            <span class="small muted"><b>{{ '<{{ c.corporation_details.ticker }}>' }}</b>

                            <br> {{ '{{ c.corporation_details.alliance_name }}' }}</span>
                </div>
                        #}

            </div>
            {% include 'AppBundle:Admin/Corporation:corpDataPanel.html.twig' %}

            {% include 'AppBundle:Admin/Corporation:new.html.twig' %}
        </side-menu-container>
    </div>
{% endblock %}
