{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block content -%}
    <div class="row" >
        <h3>Corporation <span class="muted small">LIST</span>
        </h3>
        <side-menu-container ng-transclude>
            <slide-button></slide-button>
            <div class="col-xs-12" ng-controller="corpListController">
                <div class="row">
                    <div class="col-xs-5">
                        <table class="table table-hover data-table table-condensed" ng-cloak>
                            <thead width="100%">
                            <th></th>
                            <th>Name</th>
                            <th>Updated At</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="c in corps">
                                <span ng-show="c.name.length">
                                    <td width="75px"><eve-image image-type="'Corporation'" object_id="c.eve_id" img-width="64"></eve-image> </td>
                                    <td>{{ '{{ c.name }}' }}</td>
                                    <td>{{ '{{ c.last_updated_at | date:"shortDate" }}' }}<br>
                                        <span class="small">{{ '{{ c.last_updated_at | date:"shortTime" }}' }}</span>
                                    </td>
                                </span>
                                <span ng-show="c.name.length == 0">
                                    <td colspan="3">
                                        <loading-spinner></loading-spinner>
                                    </td>
                                </span>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="col-xs-7">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a href="#">Overview</a></li>
                            <li role="presentation"><a href="#">Market Transactions</a></li>
                            <li role="presentation"><a href="#">Performance</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% include 'AppBundle:Admin/Corporation:new.html.twig' %}
        </side-menu-container>
    </div>
{% endblock %}
