{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block content -%}
    <div class="row" >
        <h3>Corporation <span class="muted small">LIST</span>
        </h3>
        <side-menu-container ng-transclude>
            <slide-button></slide-button>
            <div class="col-xs-12" ng-controller="corpListController">
                <div class="row">
                    <div class="col-xs-5">
                        <table class="table table-hover data-table table-condensed" ng-cloak>
                            <thead width="100%">
                                <th></th>
                                <th>Name</th>
                                <th>Updated At</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="c in corps" ng-if="corps.length" ng-click="selectCorporation(c)" ng-class="{ 'warning' : c.new, 'info': selected_corp.id == c.id }">
                                    <td ng-show="!c.new" width="75px"><eve-image image-type="'Corporation'" object_id="c.eve_id" img-width="64" ng-show="!c.new"></eve-image> </td>
                                    <td ng-show="!c.new">{{ '{{ c.name }}' }}</td>
                                    <td ng-show="!c.new">{{ '{{ c.last_updated_at | date:"shortDate" }}' }}<br>
                                        <span class="small">{{ '{{ c.last_updated_at | date:"shortTime" }}' }}</span>
                                    </td>
                                    <td colspan="3" ng-show="c.new">
                                        <loading-spinner ng-show="c.new"></loading-spinner>
                                    </td>
                                </tr>
                                <tr ng-if="!corps.length" ng-cloak>
                                    <td class="text-warning text-center" colspan="3" style="padding: 10px;" ng-cloak>
                                        <h4 ng-cloak>No Corporations Found</h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-7">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a href="#">Overview</a></li>
                            <li role="presentation"><a href="#">Market Transactions</a></li>
                            <li role="presentation"><a href="#">Performance</a></li>
                        </ul>
                        <div ng-controller="corpOverviewController" class="row">
                            {{ '{{ selected_corp}}' }}

                        </div>
                    </div>
                </div>
            </div>
            {% include 'AppBundle:Admin/Corporation:new.html.twig' %}
        </side-menu-container>
    </div>
{% endblock %}
