<table class="table table-condensed data-table">
    <thead>
        <th ng-repeat="h in tableHeaders">
            {{ '{{ h.name }}' }} <span ng-if="h.sortable === true">
                <i ng-show="true"class="fa fa-chevron-up"></i>
                <i ng-show="true" class="fa fa-chevron-down"></i>
            </span>
        </th>
    </thead>
    <tbody>
        <tr ng-repeat="i in tableData | orderBy:sortOrder:isReverse">
            <td ng-repeat="h in $parent.tableHeaders">
                <div class="row" ng-if="h.has_image">
                    <div class="col-xs-4">
                        <eve-image image-type="'Type'" override-width="image_width" object-id="i.typeId" img-width="32"></eve-image>
                    </div>
                    <div class="col-xs-8">
                        {{ '{{ getColumnValue(i, h) }}' }}
                    </div>
                </div>
                <div ng-if="!h.has_image">
                    {{ '{{ getColumnValue(i, h) }}' }}
                </div>
            </td>
        </tr>
    </tbody>
</table>
