<eve-pane title="Account Overview">
    <div ng-controller="corpOverviewController" class="row">
        <div class="col-xs-12 well" ng-show="!selected_corp" ng-cloak>
            <h5 class="text-center">Select a Corporation</h5>
        </div>
        <div class="col-xs-12 well" ng-show="selected_corp" ng-cloak>
            <div class="row">
                <div class="col-xs-12" ng-cloak>
                    <div class="row">
                        <div class="summary-stats col-xs-11" ng-cloak>
                            <div class="row">
                                <div class="col-xs-3">
                                    <b>Balance</b>:&nbsp;&nbsp;&nbsp; {{ '{{ totalBalance | currency}}' }}<br>
                                    <b>Daily Change</b>:&nbsp;&nbsp;&nbsp;<i ng-class="{ 'fa fa-chevron-up text-success': percentChangeBalance.percent > 0, 'fa fa-chevron-down text-danger': percentChangeBalance.percent < 0 }"></i>
                                    {{ '{{ percentChangeBalance.percent | number : 2 }}% ({{ percentChangeBalance.diff | currency }})' }}
                                </div>
                                <div class="graphs col-xs-9"></div>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <span class="pull-right small"><b>Viewing:</b> {{ ' {{ current_date }}' }}</span>
                            <br>
                            <div class="btn-group-sm pull-right">
                                <button  class="btn btn-sm" type="button" ng-click="back()" ng-disabled="!selected_account"><i class="fa fa-chevron-left"></i></button>
                                <button class="btn btn-sm" type="button" ng-click="forward()" ng-disabled="!selected_account"><i class="fa fa-chevron-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-xs-4">
                    <ul class="list-unstyled list-group wallet-divisions">
                        <li ng-repeat="acc in accounts" ng-class="{ 'list-group-item active': selected_account.id == acc.id, 'list-group-item': selected_account.id != acc.id}" ng-click="selectAccount(acc)">
                            <p>
                                <b>{{ '{{ acc.division }}' }}</b>: {{ '{{ acc.current_balance | currency }}' }}
                                <loading-spinner class="spinner-inline" style="color: #c7ddef" ng-show="loading && selected_account.id == acc.id"></loading-spinner>
                            </p>
                            <p ng-show="selected_account.id == acc.id">
                                <b>Division Change:</b>&nbsp;&nbsp;&nbsp; <i ng-class="{ 'fa fa-chevron-up text-success': findGross() > 0, 'fa fa-chevron-down text-danger': findGross() < 0 }"></i>
                                {{ '{{ findGross() | currency }}' }}
                            </p>
                        </li>
                    </ul>
                </div>
                <div ng-show="page == 'buy'">
                    <h5 class="text-danger">Buy Orders - <span class="small">Total: {{ '{{  sumOrders(buy_orders) | currency }}' }}</span>
                        <button class="btn-link pull-right" ng-click="switchPage('sell')">Sell Orders</button>
                    </h5>
                </div>

                <div ng-show="page == 'sell'">
                    <h5 class="text-success">Sell Orders - <span class="small">Total: {{ '{{  sumOrders(sell_orders) | currency }}' }}</span>
                        <button class="btn-link pull-right" ng-click="switchPage('buy')">Buy Orders</button>
                    </h5>
                </div>
                <div class="col-xs-8" ng-show="selected_account && page == 'buy'">
                    <table class="table table-condensed">
                        <th>Item</th>
                        <th>Volume</th>
                        <th>Price Per</th>
                        <th>Gross</th>
                        <tr ng-repeat="b in buy_orders | filter:orderBy:'price * quantity'">
                            <td>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <eve-image image-type="'Type'" object-id="b.item_id" img-width="64"></eve-image>
                                    </div>
                                    <div class="col-xs-9">
                                        {{ '{{ b.item_name }}' }}
                                    </div>
                                </div>
                            </td>
                            <td>{{ '{{ b.quantity }}' }}</td>
                            <td>{{ '{{ b.price | currency }}' }}</td>
                            <td>{{ '{{ b.price * b.quantity | currency}}' }}</td>
                        </tr>
                    </table>
                </div>

                <div class="col-xs-8" ng-show="selected_account && page == 'sell'">
                    <table class="table table-condensed">
                        <th>Item</th>
                        <th>Volume</th>
                        <th>Price Per</th>
                        <th>Gross</th>
                        <tr ng-repeat="s in sell_orders">
                            <td>
                                <div class="row">
                                    <div class="col-xs-5">
                                        <eve-image image-type="'Type'" object-id="s.item_id" img-width="64"></eve-image>
                                    </div>
                                    <div class="col-xs-7">
                                        {{ '{{ s.item_name }}' }}
                                    </div>
                                </div>
                            </td>
                            <td>{{ '{{ s.quantity }}' }}</td>
                            <td>{{ '{{ s.price | currency }}' }}</td>
                            <td>{{ '{{ s.price * s.quantity | currency}}' }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</eve-pane>
