{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block content -%}
    <div class="row" >
        <side-menu-container ng-transclude>
            <h3>Character <span class="muted small">LIST</span>
                <slide-button open-type="new"></slide-button>
            </h3>
            <div ng-controller="characterListController">
                <div class="col-xs-6" >
                    <table class="table table-condensed data-table" ng-cloak>
                        <thead>
                        <th></th>
                        <th>Name</th>
                        <th>Has Key</th>
                        <th>Created At</th>
                        <th><i class="fa fa-cogs"></i></th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="c in characters" ng-show="characters.length > 0" ng-cloak>
                            <td width="64">
                                <eve-image image-type="'Character'" object-id="c.eve_id" img-width="256"></eve-image>
                            </td>
                            <td>{{ '{{ c.name }}' }}</td>
                            <td>{{ '{{  c.has_key }}' }}</td>
                            <td> {{ '{{  c.created_at | date:"shortDate" }}' }}</td>
                            <td><button class="btn btn-sm btn-default" ng-click="edit(c)"><i class="fa fa-cog"></i></button></td>
                        </tr>

                        <tr ng-show="characters.length == 0" ng-cloak>
                            <td colspan="4" class=" text-center">
                                <h3 style="font-family: 'roboto';" class="text-danger">No characters found</h3>
                                <p style="color: black;">You will <b>need to add or update</b> a character with a valid api key prior to being able to use this application.</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-xs-6" ng-cloak>
                    <div class="well">
                        <h3 class="text-center" style="font-family: 'roboto'; color: black;" ng-show="!selected_character">Select a Character</h3>
                    </div>

                </div>
            </div>
            {% include '@App/Admin/Character/new.html.twig' %}
        </side-menu-container>
    </div>
{% endblock %}
