{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block content -%}
    <div class="row" >
        <side-menu-container ng-transclude>
            <h3>Character <span class="muted small">LIST</span>
                <slide-button open-type="new"></slide-button>
            </h3>
            <div ng-controller="characterListController">
                <div class="col-xs-4" >
                    <table class="table table-condensed table-hover data-table" ng-cloak>
                        <thead>
                        <th></th>
                        <th>Name</th>
                        <th>Has Key</th>
                        <th>Created At</th>
                        <th><i class="fa fa-cogs"></i></th>
                        </thead>
                        <tbody>
                        <tr ng-class="{ 'info': selected_character.id == c.id}" ng-repeat="c in characters" ng-show="characters.length > 0" ng-cloak>
                            <td width="64">
                                <eve-image image-type="'Character'" object-id="c.eve_id" img-width="256"></eve-image>
                            </td>
                            <td>{{ '{{ c.name }}' }}</td>
                            <td>{{ '{{  c.has_key }}' }}</td>
                            <td> {{ '{{  c.created_at | date:"shortDate" }}' }}</td>
                            <td>
                                <button class="btn btn-sm btn-default" ng-click="selectCharacter(c)" ng-show="selected_character == null"><i class="fa fa-cog"></i></button>
                                <button class="btn btn-sm btn-danger" ng-show="selected_character !== null" ng-click="removeChar()"><i class="fa fa-times"></i></button>
                            </td>
                        </tr>

                        <tr ng-show="characters.length == 0" ng-cloak>
                            <td colspan="5" class=" text-center">
                                <h3 style="font-family: 'roboto';" class="text-danger">No characters found</h3>
                                <p style="color: black;">You will <b>need to add or update</b> a character with a valid api key prior to being able to use this application.</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-xs-8" ng-cloak>
                    <div class="well">
                        <h3 class="text-center" style="font-family: 'roboto'; color: black;" ng-show="!selected_character">Select a Character</h3>

                        <div class="row" ng-show="selected_character != null">
                            <div class="col-sm-6">
                                <eve-image ng-if="selected_character != null" image-type="'Character'" object-id="selected_character.eve_id" img-width="256"></eve-image>
                            </div>
                            <div class="col-sm-6">
                                <h3 style="font-family: 'roboto'; color: black;" class="text-center">More details coming soon.</h3>
                            </div>
                            <div class="col-xs-12">
                                <h4>API Keys <slide-button open-type="new_key"></slide-button></h4>
                                <table class="table table-condensed table-hover data-table small-table" ng-cloak>
                                    <thead>
                                    <th>Key</th>
                                    <th>Verification Code</th>
                                    <th>Access Mask</th>
                                    <th>Created At</th>
                                    <th>Active</th>
                                    </thead>
                                    <tbody >
                                    <tr ng-show="api_credentials.length > 0 " ng-repeat="key in api_credentials">
                                        <td>{{ '{{ key.api_key }}' }}</td>
                                        <td>{{ '{{ key.verification_code }}' }}</td>
                                        <td>{{ '{{ key.access_mask }}' }}</td>
                                        <td>{{ '{{ key.created_at | date:"shortDate" }}' }}</td>
                                        <td>{{ '{{ key.is_active }}' }}</td>
                                    </tr>
                                    <tr ng-show="api_credentials.length == 0" ng-cloak>
                                        <td colspan="5" class=" text-center">
                                            <h3 style="font-family: 'roboto';" class="text-danger">No API Keys Found</h3>
                                            <p style="color: black;">At least one character needs a valid API key.</p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {% include '@App/Admin/Character/new.html.twig' %}
            {% include '@App/Admin/Character/new_key.html.twig' %}
        </side-menu-container>
    </div>
{% endblock %}
