<side-menu-slider menu-width="350" form-context="new_key" ng-cloak>
    <div class="header">
        <h3>New API Key</h3>
    </div>
    <form name="newKeyForm" ng-controller="characterNewController">
        <p class="text-center">You are about to add an API Key for your character {{ '{{ current_char.name }}' }}.
            <br> <br>
            If you need a pre-generated API key - click <a target="_blank" class="eve" href="http://community.eveonline.com/support/api-key/CreatePredefined?accessMask=1073741823">here</a>.</p>
        <table class="table-form">
            <tbody>
            <tr ng-repeat="e in errors">
                <td></td>
                <td>
                    <div class="alert alert-danger">
                        <p class="small text-danger">
                            <i class="fa fa-warning fa-fw"></i> {{ 'There was a problem with your {{ e.property_path }}' }}  <br>{{ '{{ e.message }}' }}</span>
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <i ng-class="{ 'text-danger fa fa-times': newKeyForm.api_key.$invalid, 'text-success fa fa-check': newKeyForm.api_key.$valid}"></i>
                </td>
                <td>
                    <div class="form-group">
                        <input name="api_key"
                               type="text"
                               class="form-control"
                               placeholder="API Key..."
                               ng-required="true"
                               ng-model="newKey.api_key"
                                />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <i ng-class="{ 'text-danger fa fa-times': newKeyForm.verification_code.$invalid, 'text-success fa fa-check': newKeyForm.verification_code.$valid}"></i>
                </td>
                <td>
                    <div class="form-group">
                        <input name="verification_code"
                               type="text"
                               ng-minlength="64"
                               ng-maxlength="64"
                               class="form-control"
                               placeholder="Verification Code..."
                               ng-required="true"
                               ng-model="newKey.verification_code"
                                />
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button ladda="submitLoading" ng-disabled="!newKeyForm.$valid " class="btn btn-block" type="submit" ng-click="key_submit(selected_character)">Submit</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</side-menu-slider>
