<side-menu-slider menu-width="950" form-context="gears" ng-cloak>
    <div class="header">
        <h3>Configure Buyback</h3>
    </div>
    <div ng-controller="buyBackConfigController">

        <div class="row">
            <div class="col-xs-6 existing-configurations">

            </div>
            <div class="col-xs-6">
                <p class="text-center">&nbsp;&nbsp;Please enter the required information.</p>
                <form class="form">
                    <div class="form-group">
                        <label for="region">
                            Select Corporation to apply this configuration to
                        </label>
                        <select
                                chosen
                                multiple
                                class="form-control"
                                ng-model="configuration.corporation"
                                ng-options="c.id as c.corporation_details.name for c in corporations"
                                name="corporation"
                                >
                            <option value="">ALL</option>
                        </select>
                    </div>
                    <div class="form-group"
                         ng-hide="configuration.corporation === null">
                        <label for="region">
                            Select Region for Base Prices
                        </label>
                        <select
                                chosen
                                multiple
                                class="form-control"
                                ng-model="configuration.base_regions"
                                ng-options="r.regionID as r.regionName for r in regions"
                                name="region"
                                >
                            <option value="">Eve UNIVERSE Average</option>
                        </select>
                    </div>

                    <div class="form-group"
                         ng-hide="configuration.corporation === null || configuration.base_regions.length === 0">
                        <label for="base_markdown">
                            This markdown is applied to ALL items that do NOT have specific price overrides.
                        </label>
                        <div class="input-group"
                             ng-hide="configuration.corporation === null || configuration.base_regions.length === 0">
                            <input name="base_markdown" class="form-control" type="number" ng-model="configuration.base_markdown">
                            <span class="input-group-addon">
                                %
                            </span>
                        </div>
                    </div>
                    <div class="row"
                         ng-hide="configuration.corporation === null || configuration.base_regions.length === 0 || configuration.base_markdown === null">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="marketgroup">Market Group</label>
                                <select
                                        name="marketgroup"
                                        chosen
                                        ng-model="search.market_group"
                                        ng-options="m.marketGroupID as m.marketGroupName for m in market_groups"
                                        class="form-control">
                                    <option value="">Pick a group</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6" ng-hide="search.market_group === null">
                            <div class="form-group">
                                <label for="itemChoice">Item</label>
                                <div class="input-group">
                                    <select
                                            chosen
                                            name="itemChoice"
                                            ng-model="search.item_choice" class="form-control">
                                        <option value="">Pick an item</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table" ng-show="configuration.overrides.length > 0">
                        <thead>
                        <th>Item</th>
                        <th>Base</th>
                        <th>Override</th>
                        <th>Difference</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="o in configuration.overrides">
                            <td>{{ '{{ o.itemID }}' }}</td>
                            <td>{{ '{{ o.price | currency:"ISK"}}' }}</td>
                            <td>{{ '{{ o.override }}' }}</td>
                            <td>{{ '{{ o.difference }}' }}</td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</side-menu-slider>
