<side-menu-slider menu-width="550" form-context="gears" ng-cloak>
    <div class="header">
        <h3>Configure Buyback</h3>
    </div>
    <div ng-controller="buyBackConfigController">

        <div class="row">
            <div class="col-xs-12">
                <p class="text-center">&nbsp;&nbsp;Please enter the required information.</p>
                <form name="configForm" class="form" ng-submit="addOverride()">
                    <div class="form-group">
                        <label for="region">
                            select corporation to apply this configuration to
                        </label>
                        <select
                                chosen
                                required
                                class="form-control"
                                ng-model="configuration.corporation"
                                ng-options="c.id as c.corporation_details.name for c in corporations"
                                name="corporation"
                                >
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio"
                                       value="global"
                                       ng-model="configuration.type">

                                Global Rule
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio"
                                       value="item"
                                       ng-model="configuration.type">

                                Single Item rule
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio"
                                       value="region"
                                       ng-model="configuration.type">

                                Base Price Rule
                            </label>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-hide="configuration.type != 'global'">
                        <label for="base_markdown">
                            This markdown is applied to ALL items that do NOT have specific price overrides.
                        </label>
                        <div class="input-group">
                            <input name="base_markdown" class="form-control" type="number" ng-model="configuration.base_markdown">
                            <span class="input-group-addon">
                                %
                            </span>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-hide="configuration.type != 'region'">
                        <label for="region">
                            Select Region for Base Prices
                        </label>
                        <select
                                chosen
                                class="form-control"
                                ng-model="configuration.base_regions"
                                ng-options="r.regionID as r.regionName for r in regions"
                                name="region"
                                >
                            <option value="">Eve UNIVERSE Average</option>
                        </select>
                    </div>
                    <div class="form-group"
                         ng-hide="configuration.type != 'item'">
                        <label for="search">
                            Search
                        </label>
                        <select type="text"
                               ng-model="configuration.search_item"
                               ng-options="item.typeID as item.typeName for item in item_list"
                               chosen
                               class="form-control">
                        </select>
                    </div>
                    <div class="form-group"
                         ng-hide="configuration.search_item === null || configuration.type != 'item'"
                            >
                        <div class="input-group">
                            <span class="input-group-addon">ISK</span>
                            <input class="form-control" type="text" name="price" ng-model="configuration.override_price">
                        </div>
                    </div>

                    <button ng-show="configuration.override_price !== null || configuration.base_markdown !== null || configuration.base_regions.length != 0" type="submit" class="btn btn-block">Add Override</button>
                </form>
            </div>
            <div class="col-xs-12 existing-configurations">
                <h4 class="text-center" ng-show="existing_configurations.length === 0"> No existing Buyback configurations Eve Averages are used for all prices.</h4>
                <div style="width:90%; margin: 0 auto;" ng-show="existing_configurations.length > 0">
                    <h4>Overrides <span class="small muted">Click to Edit</span></h4>
                    {{ '{{ override_edit_value}}' }}
                    <div class="table-responsive">
                        <table class="table data-table table-hover table-condensed table-striped">
                            <thead>
                            <th>Corp</th>
                            <th>Type</th>
                            <th>Detail</th>
                            <th>Delete</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="override in existing_configurations" ng-show="override.deleted !== true">
                                <td ng-click="toggleEdit(override)" ng-show="edit_id !== override.id">
                                    {{ '{{ override.corporation.corporation_details.name }}' }}
                                </td>
                                <td ng-click="toggleEdit(override)" ng-show="edit_id !== override.id">{{ '{{ getType(override.type) }}' }}</td>
                                <td ng-click="toggleEdit(override)" ng-show="edit_id !== override.id">
                                    <span ng-if="override.type == 1 ">
                                        {{ '{{ getDetail(override) | number:2 }}' }} %
                                    </span>
                                    <span ng-if="override.type == 2 || override.type == 3">
                                        {{ '{{ getDetail(override) }}' }}
                                        <br>
                                        <span ng-if="override.type == 2">
                                            {{ '{{ override.override | currency:"ISK" }}' }}
                                        </span>
                                    </span>
                                </td>
                                <td ng-show="edit_id !== override.id"><a ng-click="delete(override)" ><i class="fa fa-times text-danger"></i></a></td>
                                <td colspan="2" ng-show="edit_id == override.id">
                                    <div class="form-group" ng-show="override.type === 2">
                                        <div class="input-group">
                                            <span class="input-group-addon">ISK</span>
                                            <input class="form-control" ng-model="override.override" type="text" ng-value="override.override">
                                        </div>
                                    </div>

                                    <div class="form-group" ng-show="override.type === 1">
                                        <div class="input-group">
                                            <input class="form-control" ng-model="override.base_markdown" type="number" ng-value="override.base_markdown">
                                            <span class="input-group-addon">%</span>
                                        </div>
                                    </div>
                                </td>
                                <td ng-show="edit_id == override.id">
                                    {{ '{{ getDetail(override) }}' }}
                                </td>
                                <td  width="125px" class="text-center" ng-show="edit_id == override.id">
                                    <div class="btn-group">
                                        <button ng-click="update(override)" class="btn btn-info btn-sm">Update</button>
                                        <button ng-click="closeEdit()" class="btn btn-danger btn-sm">Close</button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</side-menu-slider>
