<div class="col-xs-9 aggregates" ng-show="selected_account && page == 'stats'" >
    {# make me a directive #}
    <div class="row">
        <div ng-if="loading">
            <cube-grid-spinner></cube-grid-spinner>
        </div>
        <div class="col-xs-12" ng-if="!loading">
            <div class="button-group">
                <button class="btn btn-sm btn-default" ng-click="showView(0)" ng-class="{ 'active': selected === 0}">
                    <i class="fa fa-bank"></i> Transactions
                </button>
                <button class="btn btn-sm btn-default" ng-click="showView(1)" ng-class="{ 'active': selected === 1}">
                    <i class="fa fa-group"></i> Contributions
                </button>
            </div>
        </div>
        <div class="col-xs-12" ng-show="!loading && selected === 0">
            <div class="pull-right">
                <p>
                    <i ng-init="transSum = sumTransactions()" ng-class="{ 'text-success fa-chevron-up': transSum > 0, 'text-danger fa-chevron-down': transSum < 0 }" class="fa"></i> {{ '{{ transSum | currency:" ISK" }}' }}
                </p>
            </div>
            <p>Showing past 7 days ending on: {{ '{{ current_date | date:"dateShort"}}' }}</p>
            <div class="col-md-6" ng-repeat="s in segments">
                <table class="table tabled-hover table-stripped data-table">
                    <thead>
                    <th>Type</th>
                    <th>Amount</th>
                    </thead>
                    <tr ng-repeat="r in s" ng-class="{ 'danger': r.trans[0].total_amount <= 0, 'success': r.trans[0].total_amount > 0 }">
                        <td>
                            {{ '{{ r.type.ref_type_name }}' }}
                        </td>
                        <td>
                            {{ '{{ r.trans[0].total_amount | currency:"ISK" }}' }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-xs-12" ng-show="!loading && selected === 1">
            <div class="col-md-6" ng-repeat="s in member_segments">
                <table class="table tabled-hover table-stripped data-table ">
                    <thead>
                    <th></th>
                    <th>Amount</th>
                    </thead>
                    <tr ng-repeat="r in s | orderBy:'total[0].total_amount':false" ng-class="{ 'danger': r.total[0].total_amount <= 0, 'success': r.total[0].total_amount > 0 }">
                        <td>
                            <eve-image image-type="'Character'" object-id="r.user.character_id" img-width="256"></eve-image>
                            <span class="small">{{ '{{ r.user.character_name }}' }}</span>
                        </td>
                        <td>
                            <h4>{{ '{{ r.total[0].total_amount | currency:"ISK" }}' }}</h4>
                            <ul class="list-unstyled">
                                <li class="small" ng-repeat="type in r.distribution">
                                    {{ '{{ type[0].ref_type.ref_type_name }} : {{ sumTrans(type) | currency }}' }}
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
