<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" >
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% if not is_granted('ROLE_ADMIN') %}
        {{ path('default') }} {% else %}  {{ path('dashboard') }} {% endif %}">EAU <span class="slanted-font">&nbsp;&nbsp;Alpha </span></a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right" ng-cloak>
        <li class="welcome">
            {% if app.getUser() %}
            <p>Welcome {{ app.getUser().getUsername() }}</p>
            {% endif %}
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation" ng-cloak>
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="{{ path('dashboard') }}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                    <a href="{{ path('characters') }}"><i class="fa fa-group fa-fw"></i> Characters</a>
                </li>
                {%  if is_granted('ROLE_CEO')  %}
                    <li>
                        <a href="{{ path('user') }}"><i class="fa fa-user fa-fw"></i> Users</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_DIRECTOR') %}
                    <li>
                        <a href="{{ path('corporation') }}"><i class="fa fa-gavel fa-fw"></i> Corporations</a>
                    </li>
                {% endif %}
                <li>
                    <a href="#"><i class="fa fa-industry fa-fw"></i> Industry Tools<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ path('industry.buyback') }}"><i class="fa fa-dollar fa-fw"></i> Buy Back Calculator </a>
                        </li>
                        <li>
                            <a href="{{ path('industry.price_helper') }}"><i class="fa fa-calculator fa-fw"></i> Price Helper</a>
                        </li>
                        {% if is_granted('ROLE_DIRECTOR') %}
                            <li>
                                <a href="{{ path('market_manager') }}"><i class="fa fa-shopping-bag fa-fw"></i> Market Order Manager</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
        <div class="bottom-box hidden-xs">
        </div>
    </div>
</nav>
<div server-status ng-cloak></div>
