<div ng-controller="corpOverviewController" class="row">
    <div class="col-xs-12 well" ng-show="!selected_corp" ng-cloak>
        <h5 class="text-center">Select a Corporation</h5>
    </div>
    <div class="col-xs-12 well" ng-show="selected_corp" ng-cloak>
        <div class="summary-stats row" ng-cloak>
            <div class="col-sm-7">
                <b>Balance</b>:&nbsp;&nbsp;&nbsp; {{ '{{ totalBalance | currency:"ISK"}}' }}<br>
                <b>Daily Change</b>:&nbsp;&nbsp;&nbsp;<i ng-class="{ 'fa fa-chevron-up text-success': percentChangeBalance.percent > 0, 'fa fa-chevron-down text-danger': percentChangeBalance.percent < 0 }"></i>
                {{ '{{ percentChangeBalance.percent | number : 2 }}% ({{ percentChangeBalance.diff | currency:"ISK" }})' }}
            </div>
            <div class="col-sm-5">
                <div class="small muted circle-ticker">
                    <b>Updated At</b> {{ '{{ updated_at | date }} {{ updated_at | date:"shortTime" }}' }} <i class="fa" ng-class="{ 'fa-check text-success': update_succeeded , 'fa-times text-danger': !update_succeeded}"></i>
                    <br>
                    <b>Next Update:</b> {{ '{{ next_update | date }} {{ next_update | date:"shortTime" }}' }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="graphs col-xs-12" ng-hide="not_enough_data"></div>
            <div class="col-xs-12" ng-show="not_enough_data"><h4 class="text-center">Not Enough Data</h4></div>
            <div class="col-sm-10 viewing-details" >
                {#
                <div class="btn-group-sm pull-left">
                    <button  class="btn btn-sm" type="button" ng-click="byWeek()" ng-hide="loading === true">Week</button>
                    <button  class="btn btn-sm" type="button" ng-click="byMonth()" ng-hide="loading === true">Month</button>
                    <button class="btn btn-sm" type="button" ng-click="byQuarter()" ng-hide="loading === true">Quarter</button>
                </div>
                #}
                <p class="pull-right small"><b>Viewing:</b> {{ ' {{ current_date }}' }}</p>
            </div>
            <div class="col-sm-2">
                <div class=" pull-right controls">
                    <div class="btn-group-sm">
                        <button  class="btn btn-sm" type="button" ng-click="back()" ng-hide="loading === true"><i class="fa fa-chevron-left"></i></button>
                        <button  class="btn btn-sm" type="button" ng-click="today()" ng-disabled="current_date === orig_date" ng-hide="loading === true"><i class="fa fa-dot-circle-o"></i></button>
                        <button class="btn btn-sm" type="button" ng-click="forward()" ng-hide="loading === true"><i class="fa fa-chevron-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <ul class="list-unstyled list-group wallet-divisions">
                    <li ng-repeat="acc in accounts" ng-class="{ 'list-group-item active': selected_account.id == acc.id, 'list-group-item': selected_account.id != acc.id}" ng-click="selectAccount(acc)">
                        <p>
                            <b>{{ '{{ acc.name }}' }}</b>: {{ '{{ acc.current_balance | currency:"ISK" }}' }}
                        </p>
                        <p ng-show="selected_account.id == acc.id">
                            <b>Division Change:</b>&nbsp;&nbsp;&nbsp; <i ng-class="{ 'fa fa-chevron-up text-success': findGross() > 0, 'fa fa-chevron-down text-danger': findGross() < 0 }"></i>
                            {{ '{{ findGross() | currency:"ISK" }}' }}
                        </p>
                    </li>
                </ul>
                {#
                <button ng-show="!loading" class="btn btn-block btn-default">Show All</button>
                #}
            </div>
            <div class="col-sm-9">
                <div ng-if="loading">
                    <cube-grid-spinner></cube-grid-spinner>
                </div>

                <div ng-if="!loading">
                    <div ng-show="page == 'buy'">
                        <h5 class="text-danger">Buy Orders - <span class="small">Total: {{ '{{  sumOrders(buy_orders) | currency:"ISK" }}' }}</span>
                            <button class="btn-link pull-right" ng-click="switchPage('sell')">Sell Orders</button>
                            <button class="btn-link pull-right" ng-click="switchPage('journal')">Journal</button>
                            <button class="btn-link pull-right" ng-click="switchPage('stats')">Aggregations</button>
                        </h5>
                    </div>

                    <div ng-show="page == 'sell'">
                        <h5 class="text-success">Sell Orders - <span class="small">Total: {{ '{{  sumOrders(sell_orders) | currency:"ISK" }}' }}</span>
                            <button class="btn-link pull-right" ng-click="switchPage('buy')">Buy Orders</button>
                            <button class="btn-link pull-right" ng-click="switchPage('journal')">Journal</button>
                            <button class="btn-link pull-right" ng-click="switchPage('stats')">Aggregations</button>
                        </h5>
                    </div>

                    <div ng-show="page == 'stats'">
                        <h5 class="text-success">Aggregations
                            <button class="btn-link pull-right" ng-click="switchPage('sell')">Sell Orders</button>
                            <button class="btn-link pull-right" ng-click="switchPage('buy')">Buy Orders</button>
                            <button class="btn-link pull-right" ng-click="switchPage('journal')">Journal</button>
                        </h5>
                    </div>

                    <div ng-show="page == 'journal'">
                        <h5>Journal Transactions <span class="small" ng-class="{ 'text-success': getJournalDifference() > 0.0, 'text-danger': getJournalDifference() < 0.0 }">Change: {{ '{{ getJournalDifference() | currency:"ISK" }}' }}</span>
                            <button class="btn-link pull-right" ng-click="switchPage('buy')">Buy Orders</button>
                            <button class="btn-link pull-right" ng-click="switchPage('sell')">Sell Orders</button>
                            <button class="btn-link pull-right" ng-click="switchPage('stats')">Aggregations</button>
                        </h5>
                    </div>
                </div>

            </div>
            <div ng-if="!loading">
                {% include '@App/Templates/corp/overview/journal.html.twig' %}
                {% include '@App/Templates/corp/overview/buyOrders.html.twig' %}
                {% include '@App/Templates/corp/overview/sellOrders.html.twig' %}
                {% include '@App/Templates/corp/overview/aggregations.html.twig' %}
            </div>
        </div>
    </div>
</div>
