<div ng-controller="structureController" class="row">
    <div class="col-xs-12 well" ng-show="selected_corp" ng-cloak>
        <div class="button-group">
            <button ng-click="showTowers('all')" class="btn btn-default btn-small">All</button>
            <button ng-click="showTowers('on')" class="btn btn-default btn-small">Online</button>
            <button ng-click="showTowers('off')" class="btn btn-default btn-small">Offline</button>
        </div>
        <div class="table-responsive">
            <table class="table data-table table-striped table-hover table-condensed">
                <thead>
                <th>
                    Location
                </th>
                <th>Type</th>
                <th>
                    Fuel Level
                </th>
                <th>
                    State
                </th>
                <th>Offline In</th>
                <th>
                    Corporate Access?
                </th>
                <th>
                    Alliance Access?
                </th>
                <th>Cost Per Day</th>
                </thead>
                <tbody>
                <tr ng-show="loading === true ">
                    <td colspan="10" class="text-center">
                        <cube-grid-spinner></cube-grid-spinner>
                    </td>
                </tr>
                <tr ng-show="!loading && bases.length <= 0">
                    <td colspan="7" class="text-center"> No POS's found</td>
                </tr>
                <tr ng-repeat="item in bases" ng-if="bases.length">
                    <td>
                        <eve-image ng-if="item.state === 4" image-type="'Type'" object-id="item.type_id" img-width="64"></eve-image>
                        {{ '{{ item.descriptors.itemName }}' }}
                    </td>
                    <td>
                        {{ '{{ item.descriptors.name }}' }}
                    </td>
                    <td width="400">
                        <div class='row' ng-repeat="i in item.descriptors.fuel" ng-init="percentValue = getTowerFuelQuantities(i, item)">
                            <div class="col-xs-3">
                                <eve-image image-type="'Type'" object-id="i.typeID" img-width="32" override-width="image.width"></eve-image>
                                <span class="small muted">
                                    {{ '{{ percentValue.actual }} / {{ percentValue.max }}' }}
                                </span>
                            </div>
                            <div class="col-xs-9">
                                <div class="progress">
                                  <div class="progress-bar progress-bar-striped" ng-class="{ 'progress-bar-success': percentValue.percentage >= 75, 'progress-bar-warning': percentValue.percentage >= 25 && percentValue.percentage <= 74, 'progress-bar-danger': percentValue.percentage <= 24 }" role="progressbar" aria-valuenow="{{ '{{ percentValue }}' }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ '{{ percentValue.percentage }}' }}%">
                                    <span>{{ '{{ percentValue.percentage }}' }}% Full {{ '{{ percentValue.actual }} / {{  percentValue.max }}' }}</span>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <label class="label" ng-class="{ 'label-info': item.state === 4, 'label-warning': item.state === 1 || item.state === 2, 'label-danger': item.state === 0 || item.state === 3}">
                            {{ '{{ resolveState(item.state) }}' }}
                        </label>
                    </td>
                    <td>
                        <timer end-time="item.timeToOffline">{{ '{{ days }}' }}d, {{ '{{ hours }}'}} h, {{ '{{ minutes }}' }} m, {{ '{{ seconds }}'}} s</timer>
                    </td>
                    <td> <i ng-class="{ 'fa fa-check': hasCorpAccess(item.general_settings), 'fa fa-minus': !hasCorpAccess(item.general_settings) }"></i></td>
                    <td> <i ng-class="{ 'fa fa-check': hasAllianceAccess(item.general_settings), 'fa fa-minus': !hasAllianceAccess(item.general_settings) }"></i></td>
                    <td>{{ '{{ getTowerCost(item) | currency:"ISK" }}' }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-12 well" ng-show="!selected_corp" ng-cloak><h5 class="text-center">Select a Corporation</h5></div>
</div>
