<div ng-controller="marketOrderController" class="row">
    <div class="col-xs-12 well" ng-show="selected_corp" ng-cloak>
        <b class="text-info">Total Escrow:</b> {{ '{{ total_escrow | currency:"ISK" }}' }}
        <b class="text-info">Total On Market:</b> {{ '{{ total_sales | currency:"ISK" }}' }}
        &nbsp;
        &nbsp;
        <span class="small muted" ng-show="updated_at">
            <b>Updated At:</b> {{ '{{ updated_at | date }} {{ updated_at | date:"shortTime" }}'}}
            &nbsp;
            &nbsp;
            <b>Next Update:</b> {{ '{{ next_update | date }} {{ next_update | date:"shortTime" }}' }}<br>
        </span>
        <br>
        <table class="table data-table table-striped table-hover table-condensed">
            <thead>
            <th>
            </th>
            <th >
                Name
            </th>
            <th>
                Type
            </th>
            <th >Filled / Total</th>
            <th>Value Remaining</th>
            <th>Region
            </th>
            <th>Constellation
            </th>
            <th>System
            </th>
            <th>Station
            </th>
            <th>
                Placed By
            </th>
            </thead>
            <tbody>
            <tr ng-repeat="item in orders | orderBy:'price':true" ng-show="!loading">
                <td width="75px">
                    <eve-image image-type="'Type'" object-id="item.type_id" img-width="64"></eve-image>
                </td>
                <td>
                    {{ '{{ item.descriptors.name }}' }}
                </td>
                <td>
                    <label class="label" ng-class="{ 'label-danger': item.bid, 'label-success': !item.bid}">
                        <span ng-if="item.bid">Buy</span>
                        <span ng-if="!item.bid">Sell</span>
                    </label>
                </td>
                <td width="175px">
                        <span class="small muted">{{ '{{ item.volume_remaining }}' }} / {{ '{{  item.total_volume }}' }}
                            <br>
                            {{ '{{ percentFinished(item) | number:2}}% Completed' }}
                        </span>
                </td>
                <td>
                    {{ '{{ item.volume_remaining  * item.price | currency:"ISK" }}' }}
                </td>
                <td>
                    {{ '{{ item.descriptors.region  }}' }}
                </td>
                <td>
                    {{ '{{ item.descriptors.constellation  }}' }}
                </td>
                <td>
                    {{ '{{ item.descriptors.solar_system  }}' }}
                </td>
                <td>
                    {{ '{{ item.descriptors.station  }}' }}
                </td>
                <td width="100px">
                    <eve-image image-type="'Character'" object-id="item.placed_by_id" img-width="256"></eve-image>
                </td>
                <td>
                    {{ '{{ item.descriptors.total_price | currency:"ISK" }}' }}
                </td>
            </tr>
            <tr ng-show="loading">
                <td colspan="10" class="text-center">
                    <loading-spinner></loading-spinner>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-12 well" ng-show="!selected_corp" ng-cloak><h5 class="text-center">Select a Corporation</h5></div>
</div>
