<div ng-controller="inventoryController" class="row">
    <div class="col-xs-12 well" ng-show="selected_corp" ng-cloak>
        <b class="text-info">Total Value:</b> {{ '{{ total_price | currency:"ISK" }}' }}
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <span class="small muted pull-right" ng-show="updated_at">
            <b>Updated At:</b> {{ '{{ updated_at | date }} {{ updated_at | date:"shortTime" }}' }} <i class="fa" ng-class="{ 'fa-check text-success': update_succeeded , 'fa-times text-danger': !update_succeeded}"></i>
            &nbsp;
            &nbsp;
            <b>Next Update:</b> {{ '{{ next_update | date }} {{ next_update | date:"shortTime" }}' }}<br>
        </span>

        <div class="row">
            <div class="col-xs-12">
                <form name="search-form" style="width: 50%; display: inline-block; padding: 0" ng-show="view_type === 0 && !loading">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input name="search" placeholder="Search..." type="text" class="form-control"/>
                    </div>
                </form>
                <div class="btn-group pull-right">
                    <button class="btn btn-sm btn-default" ng-click="switchView(3)" ng-class="{'active': view_type === 3 }"><i class="fa fa-pie-chart"></i>&nbsp;&nbsp;Summary</button>
                    {#
                    <button class="btn btn-sm btn-default" ng-click="switchView(2)" ng-class="{'active': view_type === 2 }"><i class="fa fa-archive"></i>&nbsp;&nbsp;By Category</button>
                    #}
                    <button class="btn btn-sm btn-default" ng-click="switchView(1)" ng-class="{'active': view_type === 1 }"><i class="fa fa-location-arrow"></i>&nbsp;&nbsp;By Location</button>
                    <button class="btn btn-sm btn-default" ng-click="switchView('all')" ng-class="{'active': view_type === 'all' }">All</button>
                </div>
            </div>
            {% include '@App/Templates/corp/inventory/locationView.html.twig' %}
            {% include '@App/Templates/corp/inventory/tableView.html.twig' %}
            {% include '@App/Templates/corp/inventory/summaryView.html.twig' %}
            {#
            {% include '@App/Templates/corp/inventory/categoryView.html.twig' %}
            #}
        </div>
    </div>
    <div class="col-xs-12 well" ng-show="!selected_corp" ng-cloak><h5 class="text-center">Select a Corporation</h5></div>
</div>
