<div ng-controller="marketOrderController" class="row">
    <div class="col-xs-12 well" ng-show="selected_corp" ng-cloak>
        <div class="row">
            <div class="col-xs-6">
                <span>
                    <b class="text-info">Total Escrow:</b> {{ '{{ total_escrow | currency:"ISK" }}' }}
                    &nbsp;
                    &nbsp;
                    <b class="text-info">Total On Market:</b> {{ '{{ total_sales | currency:"ISK" }}' }}
                </span><br>
                <span class="small muted" ng-show="updated_at">
                    <b>Updated At:</b> {{ '{{ updated_at | date }} {{ updated_at | date:"shortTime" }}' }} <i class="fa" ng-class="{ 'fa-check text-success': update_succeeded , 'fa-times text-danger': !update_succeeded}"></i>
                    &nbsp;
                    &nbsp;
                    <b>Next Update:</b> {{ '{{ next_update | date }} {{ next_update | date:"shortTime" }}' }}<br>
                </span>
            </div>
            <div class="col-xs-6">
                <div class="btn-group pull-right">
                    <button class="btn btn-sm btn-default"><i class="fa fa-archive"></i>&nbsp;&nbsp;By Category</button>
                    <button class="btn btn-sm btn-default"><i class="fa fa-location-arrow"></i>&nbsp;&nbsp;By Location</button>
                    <button class="btn btn-sm btn-default">All</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table data-table table-striped table-hover table-condensed">
                        <thead>
                        <th >
                            Name
                        </th>
                        <th>
                            Type
                        </th>
                        <th >Filled / Total</th>
                        <th>Value</th>
                        <th>Region
                        </th>
                        <th>Constellation
                        </th>
                        <th>System
                        </th>
                        <th>Station
                        </th>
                        <th>
                            Placed By
                        </th>
                        </thead>
                        <tbody>
                        <tr ng-show="loading === true ">
                            <td colspan="10" class="text-center">
                                <cube-grid-spinner></cube-grid-spinner>
                            </td>
                        </tr>
                        <tr ng-show="!loading && orders.length <= 0">
                            <td colspan="10" class="text-center"> No Orders found</td>
                        </tr>
                        <tr ng-repeat="item in orders | orderBy:'ratio':false" ng-show="!loading && orders.length > 0" ng-class="{ 'danger': item.ratio <= 20, 'warning': item.ratio <= 50 && item.ratio > 20 }">
                            <td>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <eve-image image-type="'Type'" override-width="image_width" object-id="item.type_id" img-width="32"></eve-image>
                                    </div>
                                    <div class="col-xs-9">
                                        {{ '{{ item.descriptors.name }}' }}
                                    </div>
                                </div>
                            </td>
                            <td>
                                <label class="label" ng-class="{ 'label-danger': item.bid, 'label-success': !item.bid}">
                                    <span ng-if="item.bid">Buy</span>
                                    <span ng-if="!item.bid">Sell</span>
                                </label>
                            </td>
                            <td width="175px" class="text-center">
                            <span class="small muted">{{ '{{ item.volume_remaining }}' }} / {{ '{{  item.total_volume }}' }}
                                <br>
                                {{ '{{ percentFinished(item) | number:2}}% Completed' }}
                            </span>
                            </td>
                            <td>
                                {{ 'Per: {{ item.price | currency:"ISK" }}' }}<br>
                                {{ 'Total: {{ item.volume_remaining  * item.price | currency:"ISK" }}' }}
                            </td>
                            <td>
                                {{ '{{ item.descriptors.region  }}' }}
                            </td>
                            <td>
                                {{ '{{ item.descriptors.constellation  }}' }}
                            </td>
                            <td>
                                {{ '{{ item.descriptors.system  }}' }}
                            </td>
                            <td>
                                {{ '{{ item.descriptors.stationName  }}' }}
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <eve-image image-type="'Character'" override-width="image_width" object-id="item.placed_by_id" img-width="256"></eve-image>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr ng-show="loading">
                            <td colspan="10" class="text-center">
                                <loading-spinner></loading-spinner>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 well" ng-show="!selected_corp" ng-cloak><h5 class="text-center">Select a Corporation</h5></div>
</div>
