<div ng-controller="inventoryController" class="row">
    <div class="col-xs-12 well" ng-show="selected_corp" ng-cloak>
        <b class="text-info">Total Value:</b> {{ '{{ total_price | currency:"ISK" }}' }}
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <span class="small muted" ng-show="updated_at">
            <b>Updated At:</b> {{ '{{ updated_at | date }} {{ updated_at | date:"shortTime" }}' }} <i class="fa" ng-class="{ 'fa-check text-success': update_succeeded , 'fa-times text-danger': !update_succeeded}"></i>
            &nbsp;
            &nbsp;
            <b>Next Update:</b> {{ '{{ next_update | date }} {{ next_update | date:"shortTime" }}' }}<br>
        </span>
        <div class="row">
            <uib-pagination ng-disabled="loading === true" class="pagination-sm pull-left" max-size="max_size" total-items="total_items" ng-model="page" ng-change="pageChanged()" rotate="false" boundry-links="true"></uib-pagination>
            <div class="pull-right">
                <span class="small muted">Per Page</span>
                <select ng-disabled="loading === true" style="width: 50px;" class="form-control" ng-model="per_page" ng-options="selection.value as selection.label for selection in per_page_selection">
                    <option val="">{{ '{{ per_page }}' }}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table data-table table-striped table-condensed">
                    <thead>
                    <th >
                        Name
                    </th>
                    <th>
                        #
                    </th>
                    <th>
                        m<sup>3</sup>

                    </th>
                    <th>Region
                    </th>
                    <th>Constellation
                    </th>
                    <th>System
                    </th>
                    <th>Station
                    </th>
                    <th>Avg Market Price
                    </th>
                    <th>
                        Total Price
                    </th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in assets | orderBy:'descriptors.total_price':true" ng-show="!loading">
                        <td width="50px">
                            <eve-image image-type="'Type'" override-width="image_width" object-id="item.type_id" img-width="32"></eve-image>
                            {{ '{{ item.descriptors.name }}' }}
                        </td>
                        <td>
                            {{ '{{ item.quantity }}' }}
                        </td>
                        <td> {{ '{{ getM3(item) | number:2}}' }}m<sup>3</sup></td>
                        <td>
                            {{ '{{ item.descriptors.region  }}' }}
                        </td>
                        <td>
                            {{ '{{ item.descriptors.constellation  }}' }}
                        </td>
                        <td>
                            {{ '{{ item.descriptors.system  }}' }}
                        </td>
                        <td>
                            {{ '{{ item.descriptors.station  }}' }}
                        </td>
                        <td>
                            {{ '{{ item.descriptors.price | currency:"ISK" }}' }}
                        </td>
                        <td>
                            {{ '{{ item.descriptors.total_price | currency:"ISK" }}' }}
                        </td>
                    </tr>
                    <tr ng-show="loading === true || assets.length <= 0">
                        <td colspan="10" class="text-center">
                            <cube-grid-spinner></cube-grid-spinner>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="row">
            <uib-pagination  ng-disabled="loading === true" class="pagination-sm pull-left" max-size="max_size" total-items="total_items" ng-model="page" ng-change="pageChanged()" rotate="false" boundry-links="true"></uib-pagination>
            <div class="pull-right">
                <span class="small muted">Per Page</span>
                <select ng-disabled="loading === true" style="width: 50px;" class="form-control" ng-model="per_page" ng-options="selection.value as selection.label for selection in per_page_selection">
                    <option val="">{{ '{{ per_page }}' }}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-xs-12 well" ng-show="!selected_corp" ng-cloak><h5 class="text-center">Select a Corporation</h5></div>
</div>
