<div ng-controller="corpTitleController" class="row">
    <div class="col-xs-12 well" ng-show="selected_corp" ng-cloak>
        <div class="table-responsive">
            <table class="table data-table table-striped table-condensed">
                <thead>
                <th>
                    Name
                </th>
                <th>Roles</th>
                <th>Grantable Roles</th>
                <th>HQ Roles</th>
                <th>HQ Grantable Roles</th>
                <th>Other Roles</th>
                <th>Other Grantable Roles</th>
                </thead>
                <tbody>
                <tr ng-repeat="t in titles">
                    <td >
                        {{ '{{ t.title_name }}' }}
                    </td>
                    <td>
                        <ul>
                            <li ng-repeat="r in t.roles">
                                {{ '{{ r.roleName }}'}}
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li ng-repeat="r in t.grantable_roles">
                                {{ '{{ r.roleName }}'}}
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li ng-repeat="r in t.roles_at_hq">
                                {{ '{{ r.roleName }}'}}
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li ng-repeat="r in t.grantable_roles_at_hq">
                                {{ '{{ r.roleName }}'}}
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li ng-repeat="r in t.roles_at_other">
                                {{ '{{ r.roleName }}'}}
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li ng-repeat="r in t.grantable_roles_at_other">
                                {{ '{{ r.roleName }}'}}
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-12 well" ng-show="!selected_corp" ng-cloak><h5 class="text-center">Select a Corporation</h5></div>
</div>
