<div ng-controller="corpMembersController" class="row">
    <div class="col-xs-12 well" ng-show="selected_corp" ng-cloak>
        <table class="table data-table table-striped table-condensed">
            <thead>
            <th>
            </th>
            <th>
                Name
            </th>
            <th>
                Joined on
            </th>
            <th>
                Time in corp
            </th>
            <th>Is Registered</th>
            <th>
                Total Contributions
            </th>
            </thead>
            <tbody>
            <tr ng-repeat="m in members | orderBy:'start_time':true">
                <td width="50px">
                    <eve-image image-type="'Character'" object-id="m.character_id" img-width="256"></eve-image>
                </td>
                <td>
                    {{ '{{ m.character_name }}' }}
                </td>
                <td>
                    {{ '{{ m.start_time | date:"longDate" }}' }}
                </td>
                <td>
                </td>
                <td>
                    {{ '{{ m.is_registered }}' }}
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-12 well" ng-show="!selected_corp" ng-cloak><h5 class="text-center">Select a Corporation</h5></div>
</div>
