<div ng-controller="inventoryController" class="row">
    <div class="col-xs-12 well" ng-show="selected_corp" ng-cloak>
        <b class="text-info">Total Value:</b> {{ '{{ total_price | currency:"ISK" }}' }}
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <span class="small muted pull-right" ng-show="updated_at">
            <b>Updated At:</b> {{ '{{ updated_at | date }} {{ updated_at | date:"shortTime" }}' }} <i class="fa" ng-class="{ 'fa-check text-success': update_succeeded , 'fa-times text-danger': !update_succeeded}"></i>
            &nbsp;
            &nbsp;
            <b>Next Update:</b> {{ '{{ next_update | date }} {{ next_update | date:"shortTime" }}' }}<br>
        </span>

        <div class="row" ng-show="!loading">
            <div class="col-xs-12">
                <form name="search-form" style="width: 50%; display: inline-block; padding: 0" ng-show="view_type === 0">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input name="search" placeholder="Search..." type="text" class="form-control"/>
                    </div>
                </form>
                <div class="btn-group pull-right">
                    <button class="btn btn-sm btn-default" ng-click="switchView(2)" ng-class="{'active': view_type === 2 }"><i class="fa fa-archive"></i>&nbsp;&nbsp;By Category</button>
                    <button class="btn btn-sm btn-default" ng-click="switchView(1)" ng-class="{'active': view_type === 1 }"><i class="fa fa-location-arrow"></i>&nbsp;&nbsp;By Location</button>
                    <button class="btn btn-sm btn-default" ng-click="switchView(0)" ng-class="{'active': view_type === 0 }">All</button>
                </div>
            </div>
            <div ng-show="loading === true" class="col-xs-12 text-center">
                    <cube-grid-spinner></cube-grid-spinner>
            </div>
            <div class="col-xs-12 location-view" ng-show="view_type === 1">
                <uib-accordion>
                    <uib-accordion-group
                            heading="{{  '{{ loc.name }}' }}"
                            ng-repeat="loc in locations"
                            ng-click="openedLocation(loc)"
                            ng-show="loc.name.length > 0">
                        {# FIRST LEVEL#}
                        <div class="row header">
                            <div class="col-xs-4">
                                <h5>Name</h5>
                            </div>
                            <div class="col-xs-2">
                                <h5>Vol</h5>
                            </div>
                            <div class="col-xs-1">
                                <h5>Quant.</h5>
                            </div>
                            <div class="col-xs-2">
                                <h5>Price</h5>
                            </div>
                            <div class="col-xs-2">
                                <h5>Total</h5>
                            </div>
                        </div>
                        <ul class="list-unstyled">
                            <li ng-repeat="item in loc.assets">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <eve-image image-type="'Type'" override-width="image_width" object-id="item.type_id" img-width="32"> </eve-image>
                                            </div>
                                            <div class="col-xs-8">
                                                {{ '{{ item.descriptors.name }}' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        {{ '{{ item.descriptors.volume }}' }}m<sup>3</sup> / unit
                                    </div>
                                    <div class="col-xs-1">
                                        {{ '{{ item.quantity }}' }}
                                    </div>
                                    <div class="col-xs-2">
                                        {{ '{{ item.descriptors.price | currency:"ISK"  }}' }}
                                    </div>
                                    <div class="col-xs-2">
                                        {{ '{{ item.descriptors.total_price | currency:"ISK" }}' }}
                                    </div>
                                    <div class="col-xs-1">
                                        <button ng-click="openContents(item)" ng-show="item.contents.length > 0" class="btn btn-sm btn-default"><i class="fa" ng-class="{ 'fa-chevron-up': isOpen(item) === true, 'fa-chevron-down': isOpen(item) === false }"></i></button>
                                    </div>
                                    {# SECOND LEVEL#}
                                    <div class="col-xs-11 col-xs-offset-1" ng-show="isOpen(item) === true">
                                        <div class="row header">
                                            <div class="col-xs-4">
                                                <h5>Name</h5>
                                            </div>
                                            <div class="col-xs-2">
                                                <h5>Vol</h5>
                                            </div>
                                            <div class="col-xs-1">
                                                <h5>Quant.</h5>
                                            </div>
                                            <div class="col-xs-2">
                                                <h5>Price</h5>
                                            </div>
                                            <div class="col-xs-2">
                                                <h5>Total</h5>
                                            </div>
                                        </div>
                                        <ul class="list-unstyled">
                                            <li ng-repeat="it in item.contents">
                                                <div class="row">
                                                    <div class="col-xs-4">
                                                        <div class="row">
                                                            <div class="col-xs-4">
                                                                <eve-image image-type="'Type'" override-width="image_width" object-id="it.type_id" img-width="32"> </eve-image>
                                                            </div>
                                                            <div class="col-xs-8">
                                                                {{ '{{ it.descriptors.name }}' }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        {{ '{{ it.descriptors.volume }}' }}m<sup>3</sup> / unit
                                                    </div>
                                                    <div class="col-xs-1">
                                                        {{ '{{ it.quantity }}' }}
                                                    </div>
                                                    <div class="col-xs-2">
                                                        {{ '{{ it.descriptors.price | currency:"ISK"  }}' }}
                                                    </div>
                                                    <div class="col-xs-2">
                                                        {{ '{{ it.descriptors.total_price | currency:"ISK" }}' }}
                                                    </div>
                                                    <div class="col-xs-1">
                                                        <button ng-click="openContents(it)" ng-show="it.contents.length > 0" class="btn btn-sm btn-default"><i class="fa" ng-class="{ 'fa-chevron-up': isOpen(it) === true, 'fa-chevron-down': isOpen(it) ===false }"></i></button>
                                                    </div>
                                                    {# Third LEVEL#}
                                                    <div class="col-xs-10 col-xs-offset-2" ng-show="isOpen(it) === true">
                                                        <div class="row header">
                                                            <div class="col-xs-4">
                                                                <h5>Name</h5>
                                                            </div>
                                                            <div class="col-xs-2">
                                                                <h5>Vol</h5>
                                                            </div>
                                                            <div class="col-xs-1">
                                                                <h5>Quant.</h5>
                                                            </div>
                                                            <div class="col-xs-2">
                                                                <h5>Price</h5>
                                                            </div>
                                                            <div class="col-xs-2">
                                                                <h5>Total</h5>
                                                            </div>
                                                        </div>
                                                        <ul class="list-unstyled">
                                                            <li ng-repeat="i in it.contents">
                                                                <div class="row">
                                                                    <div class="col-xs-4">
                                                                        <div class="row">
                                                                            <div class="col-xs-4">
                                                                                <eve-image image-type="'Type'" override-width="image_width" object-id="i.type_id" img-width="32"> </eve-image>
                                                                            </div>
                                                                            <div class="col-xs-8">
                                                                                {{ '{{ i.descriptors.name }}' }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-2">
                                                                        {{ '{{ i.descriptors.volume }}' }}m<sup>3</sup> / uni
                                                                    </div>
                                                                    <div class="col-xs-2">
                                                                        {{ '{{ i.quantiy }}' }}
                                                                    </div>
                                                                    <div class="col-xs-2">
                                                                        {{ '{{ i.descriptors.price | currency:"ISK"  }}' }}
                                                                    </div>
                                                                    <div class="col-xs-2">
                                                                        {{ '{{ i.descriptors.total_price | currency:"ISK" }}' }}
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </uib-accordion-group>
                </uib-accordion>
            </div>
            <div class="col-xs-12" ng-show="view_type === 0">
                <div class="row">
                    <div class="col-xs-9" >
                        <uib-pagination ng-disabled="loading === true" class="pagination-sm pull-left" max-size="max_size" total-items="total_items" ng-model="page" ng-change="pageChanged()" rotate="false" boundry-links="true"></uib-pagination>
                    </div>
                    <div class="col-xs-3">
                        <button slide-toggle="#advanced_options" style="margin-top: 20px;" class="btn btn-sm">Advanced Filters</button>
                        <div class="pull-right">
                            <span class="small muted">Per Page</span>
                            <select ng-disabled="loading === true" style="width: 50px;" class="form-control" ng-model="per_page" ng-options="selection.value as selection.label for selection in per_page_selection">
                                <option val="">{{ '{{ per_page }}' }}</option>
                            </select>
                        </div>
                    </div>
                    <div id="advanced_options" class="slideable">
                        <div class="col-xs-12">
                            <p>Here there will be instructions to configure complex filters</p>
                            <hr>
                        </div>
                    </div>
                    <div class="col-xs-12 active-filters">
                        <label class="label label-info"  ng-repeat="f in getActiveFilters()">{{ '{{ f.name }}' }}</label>
                    </div>
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table data-table table-striped table-condensed">
                                <thead>
                                <th >
                                    Name
                                </th>
                                <th>
                                    #
                                </th>
                                <th>
                                    m<sup>3</sup>

                                </th>
                                <th>Region
                                </th>
                                <th>Constellation
                                </th>
                                <th>System
                                </th>
                                <th>Station
                                </th>
                                <th>Avg Market Price
                                </th>
                                <th>
                                    Total Price
                                </th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in assets | orderBy:'descriptors.total_price':true" ng-show="!loading">
                                    <td>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <eve-image image-type="'Type'" override-width="image_width" object-id="item.type_id" img-width="32"></eve-image>
                                            </div>
                                            <div class="col-xs-8">
                                                {{ '{{ item.descriptors.name }}' }}
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        {{ '{{ item.quantity }}' }}
                                    </td>
                                    <td> {{ '{{ getM3(item) | number:2}}' }}m<sup>3</sup></td>
                                    <td>
                                        {{ '{{ item.descriptors.region  }}' }}
                                    </td>
                                    <td>
                                        {{ '{{ item.descriptors.constellation  }}' }}
                                    </td>
                                    <td>
                                        {{ '{{ item.descriptors.system  }}' }}
                                    </td>
                                    <td>
                                        {{ '{{ item.descriptors.stationName  }}' }}
                                    </td>
                                    <td>
                                        {{ '{{ item.descriptors.price | currency:"ISK" }}' }}
                                    </td>
                                    <td>
                                        {{ '{{ item.descriptors.total_price | currency:"ISK" }}' }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="col-xs-12" ng-show="!loading">
                        <uib-pagination  ng-disabled="loading === true" class="pagination-sm pull-left" max-size="max_size" total-items="total_items" ng-model="page" ng-change="pageChanged()" rotate="false" boundry-links="true"></uib-pagination>
                        <div class="pull-right">
                            <span class="small muted">Per Page</span>
                            <select ng-disabled="loading === true" style="width: 50px;" class="form-control" ng-model="per_page" ng-options="selection.value as selection.label for selection in per_page_selection">
                                <option val="">{{ '{{ per_page }}' }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 well" ng-show="!selected_corp" ng-cloak><h5 class="text-center">Select a Corporation</h5></div>
</div>
