{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('/bower_components/metisMenu/dist/metisMenu.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css') }}" rel="stylesheet">
    <link href="{{ asset('/bower_components/angular-chosen-localytics/chosen-spinner.css') }}" rel="stylesheet">
    <link href="{{ asset('/bower_components/angular-bootstrap/ui-bootstrap-csp.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('/bower_components/angular-spinkit/build/angular-spinkit.min.css') }}">

    <link href="{{ asset('/bundles/app/css/admin.css')}}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
<div id="wrapper" ng-app="eveTool">
    <!-- Navigation -->
    {% include '::common/navigation.html.twig' %}

    <!-- Page Content -->
    <div id="page-wrapper" >
        {#
        <div id="page-overlay"></div>
        #}
        <div class="container-fluid" >
            {%  include ':common:flashes.html.twig' %}
            {% block content %}
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            {% endblock %}
            <!-- /.row -->
            {% include '::common/footer.html.twig' %}
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
{% endblock %}
{% block extra_javascript %}
    {{ parent() }}

    <script src="{{ asset('/bower_components/angularjs/angular.js') }}"></script>
    <script src="{{ asset('/bower_components/angular-bootstrap/ui-bootstrap.js') }}"></script>
    <script src="{{ asset('/bower_components/angular-bootstrap/ui-bootstrap-tpls.js') }}"></script>
    <script src="{{ asset('/bower_components/angular-ladda/dist/angular-ladda.js') }}"></script>
    <script src="{{ asset('/bower_components/angular-messages/angular-messages.js') }}"></script>
    <script src="{{ asset('/bower_components/angular-animate/angular-animate.js') }}"></script>
    <script src="{{ asset('/bower_components/angular-spinkit/build/angular-spinkit.min.js') }}"></script>

    <script src="{{ asset('/bower_components/angular-chosen-localytics/chosen.js') }}"></script>
    <script src="{{ asset('/bower_components/metisMenu/dist/metisMenu.min.js') }}"></script>
    <script src="{{ asset('/bower_components/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js') }}"></script>
    <script src="{{ asset('/bower_components/d3/d3.js') }}"></script>
    <!-- -->

    {% javascripts
        '@AppBundle/Resources/public/js/app/app.js'
        '@AppBundle/Resources/public/js/app/directives/compareTo.js'
        '@AppBundle/Resources/public/js/app/directives/serverStatus.js'
        '@AppBundle/Resources/public/js/app/directives/eveImage.js'
        '@AppBundle/Resources/public/js/app/directives/tabs.js'
        '@AppBundle/Resources/public/js/app/directives/pane.js'
        '@AppBundle/Resources/public/js/app/directives/sideMenuContainer.js'
        '@AppBundle/Resources/public/js/app/directives/slideButton.js'
        '@AppBundle/Resources/public/js/app/directives/sideMenuSlider.js'
        '@AppBundle/Resources/public/js/app/services/dataDispatcher.js'
        '@AppBundle/Resources/public/js/app/services/selectedCorpManager.js'
        '@AppBundle/Resources/public/js/app/services/corporationDataManager.js'
        '@AppBundle/Resources/public/js/app/services/userRoleManager.js'
        '@AppBundle/Resources/public/js/app/controllers/dashboardController.js'
        '@AppBundle/Resources/public/js/app/controllers/user/userList.js'
        '@AppBundle/Resources/public/js/app/controllers/user/userEdit.js'
        '@AppBundle/Resources/public/js/app/controllers/user/userNew.js'
        '@AppBundle/Resources/public/js/app/controllers/industry/buybackController.js'
        '@AppBundle/Resources/public/js/app/controllers/industry/buyBackConfigController.js'
        '@AppBundle/Resources/public/js/app/controllers/corp/corpApiKeyController.js'
        '@AppBundle/Resources/public/js/app/controllers/corp/corpList.js'
        '@AppBundle/Resources/public/js/app/controllers/corp/corpMembers.js'
        '@AppBundle/Resources/public/js/app/controllers/corp/corpNew.js'
        '@AppBundle/Resources/public/js/app/controllers/corp/corpOverview.js'
        '@AppBundle/Resources/public/js/app/controllers/corp/inventory.js'
        '@AppBundle/Resources/public/js/app/controllers/corp/deliveries.js'
        '@AppBundle/Resources/public/js/app/controllers/corp/structures.js'
        '@AppBundle/Resources/public/js/app/controllers/character/characterListController.js'
        '@AppBundle/Resources/public/js/app/controllers/character/characterNewController.js'
        '@AppBundle/Resources/public/js/app/controllers/corp/marketOrders.js' output='js/compiled/app.js'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
