{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('/bundles/app/css/admin.css')}}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
<div id="wrapper" ng-app="eveTool">
    <!-- Navigation -->
    {% include '::common/navigation.html.twig' %}

    <!-- Page Content -->
    <div id="page-wrapper" >
        <div class="container-fluid" >
            {% block content %}
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            {% endblock %}
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
{% endblock %}
{% block extra_javascript %}
    {{ parent() }}
    <script src="{{ asset('/bower_components/d3/d3.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/app/app.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/app/directives/loadingSpinner.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/app/directives/compareTo.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/app/directives/sideMenuSlider.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/app/directives/serverStatus.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/app/directives/eveImage.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/app/directives/tabs.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/app/directives/pane.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/app/directives/sideMenuContainer.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/app/directives/slideButton.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/app/services/dataDispatcher.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/app/services/corp/selectedCorpManager.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/app/controllers/user/userList.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/app/controllers/user/userNew.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/app/controllers/user/userEdit.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/app/controllers/dashboardController.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/app/controllers/industry/buybackController.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/app/controllers/corp/corpList.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/app/controllers/corp/corpOverview.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/app/controllers/corp/inventory.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/app/controllers/corp/deliveries.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/app/controllers/corp/marketOrders.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/app/controllers/corp/structures.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/app/controllers/corp/corpApiKeyController.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/app/controllers/corp/corpNew.js') }}"></script>
{% endblock %}
