{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('/bundles/app/css/admin.css')}}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
<div id="wrapper">
    <!-- Navigation -->
    {% include '::common/navigation.html.twig' %}

    <!-- Page Content -->
    <div id="page-wrapper" ng-app="eveTool">
        <div class="container-fluid" >
            {% block content %}
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            {% endblock %}
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
{% endblock %}
{% block extra_javascript %}
    {{ parent() }}
    <script src="{{ asset('/bundles/app/js/app/app.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/app/directives/compareTo.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/app/controllers/userList.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/app/controllers/corpList.js') }}"></script>
{% endblock %}
