{% extends 'AppBundle::layout.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/theme/js/slick/slick.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/app/theme/js/flex-slider/flexslider.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/app/theme/js/owl-carousel/owl.carousel.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/app/theme/js/owl-carousel/owl.theme.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/app/theme/js/owl-carousel/owl.transitions.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/app/theme/css/prettyphoto.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/theme/css/style.css') }}">
    <!-- SKIN -->
    <link rel="stylesheet" title="blue" href="{{ asset('bundles/app/theme/css/colors/skin-blue.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/themeOverrides.css') }}">

    <script src="{{ asset('bundles/app/theme/js/modernizr.custom.js') }}"></script>
{% endblock %}

{% block body_attr %} id="page-top" {% endblock %}
{% block body %}
    <div id="body">

        <!-- HEADER -->
        <header>
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-top">
                <div class="container">
                    <div class="col-md-12">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header page-scroll">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="./index.html">EAU</a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a class="page-scroll" href="#faq">FAQ</a></li>
                                <li><a href={{ path('fos_user_security_login') }}>Login</a></li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                </div>
            </nav>
        </header>

        {% block inner_content %}

            <!-- INTRO -->
            <section id="intro" class="intro2">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2><span>E</span>ssential <span>A</span>lliance <span>U</span>tility</h2>
                                    <p>
                                        <span>EAU</span> is a third party tool for Eve Online&copy;, providing alliance or corporation financial managment and an assortment of industrial tools.<br>
                                        Currently under heavy development. We are in an alpha and internal use only stage. Feel free to contact us if you have questions or suggestions.</p>
                                    {#
                                    <div class="dual-btns">
                                        <a href="#">Purchase Now</a>
                                        <a href="#">Learn More</a>
                                    </div>
                                    #}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- INTRO -->

            <!-- FAQ CONTENT -->
            <div class="faq-content" id="faq">
                <div class="container">
                    <div class="row">
                        <div class="content-head">
                            <h3>Frequently Asked Questions</h3>
                        </div>
                        <div class="faq-wrap">
                            <div class="col-md-6">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                    <i class="fa fa-comments-o"></i> 1. What is Lorem Ipsum?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent odio ligula, blandit sit amet malesuada sit amet, vestibulum quis lectus. Quisque placerat non metus sed lobortis.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                    <i class="fa fa-comments-o"></i> 2. Why do we use it?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent odio ligula, blandit sit amet malesuada sit amet, vestibulum quis lectus. Quisque placerat non metus sed lobortis.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                    <i class="fa fa-comments-o"></i> 3. Where does it come from ?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent odio ligula, blandit sit amet malesuada sit amet, vestibulum quis lectus. Quisque placerat non metus sed lobortis.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 video-wrap">
                                <div class="video">
                                    <iframe height="300" src="http://player.vimeo.com/video/92141950?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=0" width="500" ></iframe>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <!-- Faq wrap content end -->
                    </div>
                </div>
                <!-- /.container -->
            </div>
            <!-- FAQ CONTENT -->

            <!-- FOOTER / COPYRIGHT -->
            <div class="footer-copy">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <p>&copy; {{ date() | date('Y') }}. . All rights reserved. Designed by <a href="http://themeforest.net/user/Dilipkumar" target="_blank">Dilipkumar</a>.</p>
                        </div>

                        <div class="col-md-5">
                            <a class="backtotop page-scroll" href="#page-top">Back to top &Delta;</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FOOTER / COPYRIGHT -->
        {% endblock %}
    </div>
{% endblock %}

{% block extra_javascript %}
    <script src="{{ asset('bundles/app/theme/js/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('bundles/app/theme/js/flex-slider/jquery.flexslider.js') }}"></script>
    <script src="{{ asset('bundles/app/theme/js/owl-carousel/owl.carousel.js') }}"></script>
    <script src="{{ asset('bundles/app/theme/js/slick/slick.js') }}"></script>
    <script src="{{ asset('bundles/app/theme/js/jquery.prettyphoto.js') }}"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="js/gmaps.js"></script>
    <script src="{{ asset('bundles/app/theme/js/contact.js') }}"></script>
    <script src="{{ asset('bundles/app/theme/js/mc/jquery.ketchup.all.min.js') }}"></script>
    <script src="{{ asset('bundles/app/theme/js/mc/main.js') }}"></script>
    <script src="{{ asset('bundles/app/theme/js/jquery.countdown.min.js') }}"></script>
    <script src="{{ asset('bundles/app/theme/js/main.js') }}"></script>
{% endblock %}