{% extends 'AppBundle::layout.html.twig' %}
{% block stylesheets %}
    {% stylesheets
         'bundles/app/theme/js/slick/slick.css'
         'bundles/app/theme/js/flex-slider/flexslider.css'
         'bundles/app/theme/js/owl-carousel/owl.carousel.css'
         'bundles/app/theme/js/owl-carousel/owl.theme.css'
         'bundles/app/theme/js/owl-carousel/owl.transitions.css'
         'bundles/app/theme/css/prettyphoto.css'
         'bundles/app/theme/css/style.css'
         'bundles/app/theme/css/colors/skin-blue.css'
         'bundles/app/css/themeOverrides.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <script src="{{ asset('bundles/app/theme/js/modernizr.custom.js') }}"></script>
{% endblock %}

{% block body_attr %} id="page-top" {% endblock %}
{% block body %}
    <div id="body">
        {% include '@App/Marketing/header.html.twig' %}
        {% block inner_content %}

            <!-- INTRO -->
            <section id="intro" class="intro2">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2><span>E</span>ve <span>A</span>lliance <span>U</span>tility</h2>
                                    <p>
                                        <span>EAU</span> is a third party tool for Eve Online&copy;, providing alliance or corporation financial management and an assortment of industrial tools.<br>
                                        Currently under heavy development. We are in an alpha and internal use only stage. Feel free to contact us if you have questions or suggestions.</p>
                                    <div class="dual-btns">
                                        <a href="{{ path('eve.register') }}">Register</a>
                                        <a href="{{ path('fos_user_security_login') }}">Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- INTRO -->

        {% endblock %}

        <!-- FOOTER / COPYRIGHT -->
        <div class="footer-copy">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        {% include ':common:footer.html.twig' %}
                    </div>

                    {#
                    <div class="col-md-3">
                        <a class="backtotop page-scroll" href="#page-top">Back to top &Delta;</a>
                    </div>
                    #}
                </div>
            </div>
        </div>
        <!-- FOOTER / COPYRIGHT -->
    </div>
{% endblock %}

{% block extra_javascript %}
    {% javascripts
        "bundles/app/theme/js/jquery.easing.min.js"
        'bundles/app/theme/js/flex-slider/jquery.flexslider.js'
        'bundles/app/theme/js/owl-carousel/owl.carousel.js'
        'bundles/app/theme/js/slick/slick.js'
        'bundles/app/theme/js/jquery.prettyphoto.js'
        'bundles/app/theme/js/contact.js'
        'bundles/app/theme/js/mc/jquery.ketchup.all.min.js'
        'bundles/app/theme/js/mc/main.js'
        'bundles/app/theme/js/jquery.countdown.min.js'
        'bundles/app/theme/js/main.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}