{% extends "::base.html.twig" %}
{% block body_content %}
    {% trans_default_domain 'FOSUserBundle' %}

    <div class="container login-container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In
                            {% block fos_user_content %}
                                {% if error %}
                                    <div class="text-danger pull-right">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                            {% endblock fos_user_content %}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" type="text" id="username" name="_username" placeholder="Username" value="{{ last_username }}" required="required" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="password" id="password" name="_password" placeholder="Password" required="required" />
                                </div>

                                {#
                                <div class="checkbox">
                                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}
                                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                    </label>
                                </div>
                                #}

                                <input class="btn btn-block btn-lg btn-success" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



