{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block content -%}
    <div class="row" ng-controller="userListController">
        <side-menu-container ng-transclude>
            <div class="cloak">
                <h3>User <span class="muted small">LIST</span>
                    <slide-button ng-if="hasRole('ROLE_CEO')" ng-cloak style="color: grey;" open-type="new"></slide-button>
                </h3>
                <br>
                <table class="table data-table table-hover table-condensed" ng-cloak>
                    <thead>
                    <th width="64px">ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Characters</th>
                    <th>Last Login</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th>Enabled</th>
                    <th>Locked</th>
                    <th>API</th>
                    <th ng-if="hasRole('ROLE_CEO')"><i class="fa fa-gears"></i></th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="u in users" ng-class="{ 'info': u.id == my_id}">
                        <td ng-if="u.characters.length === 0">{{ '{{ u.id }}' }}</td>
                        <td ng-if="u.characters.length !== 0">
                            <eve-image image-type="'Character'" object-id="u.main_id" img-width="256"></eve-image>
                        </td>
                        <td>{{ '{{ u.username }}' }}</td>
                        <td>{{ '{{ u.email }}' }}</td>
                        <td>{{ '{{ getRole(u) }}' }}</td>
                        <td>
                            {{ '{{ u.characters.length }}' }}
                        </td>
                        <td class="text-center">{{ '{{ u.last_login | date:"M/d/yy" }}' }}<br>
                            <span class="small">{{ '{{ u.last_login | date:"shortTime" }}' }}</span>
                        </td>
                        <td class="text-center">{{ '{{ u.created_at | date:"M/d/yy" }}' }}<br>
                            <span class="small">{{ '{{ u.created_at | date:"shortTime" }}' }}</span>
                        </td>
                        <td class="text-center">{{ '{{ u.updated_at | date:"M/d/yy" }}' }}<br>
                            <span class="small">{{ '{{ u.updated_at | date:"shortTime" }}' }}</span>
                        </td>
                        <td><i ng-class="{'fa fa-check text-success': u.enabled, 'fa fa-times text-danger': !u.enabled}"></i> </td>
                        <td><i ng-class="{'fa fa-check text-success': u.locked, 'fa fa-times text-danger': !u.locked}"></i> </td>
                        <td><i ng-class="{'fa fa-check text-success': hasApiKey(u), 'fa fa-times text-danger': !hasApiKey(u)}"></i> </td>
                        <td ng-if="hasRole('ROLE_CEO') && compareRoles(u)" class="text-center">
                            <slide-button open-type="edit" ng-click="populateEdit(u, $index)"></slide-button>
                        </td>
                        <td ng-if="!hasRole('ROLE_CEO') || !compareRoles(u)" class="text-center">
                            <button class="btn btn-small btn-default" disabled="true"><i class="fa fa-times"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {% include 'AppBundle:Admin/User:new.html.twig' %}
            {% include 'AppBundle:Admin/User:edit.html.twig' %}
        </side-menu-container>
    </div>
{% endblock %}
