{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block content -%}
    <div class="row" ng-controller="userListController">
        <h3>User <span class="muted small">LIST</span>
            <button type="button" ng-click="openNew()" ng-disabled="edit_open" class="pull-right btn btn-sm" ng-cloak>
                <i class="fa fa-plus" ng-show="!nav_open"></i>
                <i class="fa fa-minus" ng-show="nav_open"></i>
            </button></h3>
        <table class="table data-table table-hover table-condensed" ng-cloak>
            <thead>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Last Login</th>
                <th>Created At</th>
                <th>Enabled</th>
                <th>Locked</th>
                <th><i class="fa fa-gears"></i></th>
            </thead>
            <tbody>
                <tr ng-repeat="u in users">
                    <td>{{ '{{ u.id }}' }}</td>
                    <td>{{ '{{ u.username }}' }}</td>
                    <td>{{ '{{ u.email }}' }}</td>
                    <td>{{ '{{ u.last_login | date:"short" }}' }}</td>
                    <td>{{ '{{ u.created_at | date:"short" }}' }}</td>
                    <td><i ng-class="{'fa fa-check text-success': u.enabled, 'fa fa-times text-danger': !u.enabled}"></i> </td>
                    <td><i ng-class="{'fa fa-check text-success': u.locked, 'fa fa-times text-danger': !u.locked}"></i> </td>
                    <td class="text-center">
                        <button  ng-click="openEdit(u.id)" ng-disabled="nav_open || (edit_open && edit_id != u.id)" class="btn">
                            <i ng-show="!edit_open || edit_id !=u.id" class="fa fa-chevron-right"></i>
                            <i ng-show="edit_open && edit_id == u.id" class="fa fa-chevron-left"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        {% include 'AppBundle:Admin/User:new.html.twig' %}
        {% include 'AppBundle:Admin/User:edit.html.twig' %}
    </div>
{% endblock %}
