<div class="col-xs-12 category-view" ng-controller="inventoryCategoryViewController" ng-show="view_type === 2 && !loading">
    <uib-accordion>
        <uib-accordion-group
                heading="{{  '{{ cat.marketGroupName }}' }}"
                ng-repeat="cat in category_tree"
                ng-click="openCategory(cat)"
                >
            <div class="row">
                <div class="col-xs-12">
                    <p class="small">
                        {{ '{{ cat.description }}' }}
                    </p>
                </div>
                <div class="col-xs-12">
                    <uib-accordion>
                        <uib-accordion-group
                                heading="{{  '{{ child.marketGroupName }}' }}"
                                ng-repeat="child in cat.children"
                                ng-click="openCategory(cat)"
                                >
                            <div class="row">
                                <div class="col-xs-12">
                                    <p class="small">
                                        {{ '{{ cat.description }}' }}
                                    </p>
                                </div>
                                <div class="col-xs-12">
                                    <uib-accordion>
                                        <uib-accordion-group
                                                heading="{{  '{{ ch.marketGroupName }}' }}"
                                                ng-repeat="ch in child.children"
                                                ng-click="openCategory(ch)"
                                                >
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <p class="small">
                                                        {{ '{{ ch.description }}' }}
                                                    </p>
                                                </div>
                                                <div class="col-xs-12">
                                                    <uib-accordion>
                                                        <uib-accordion-group
                                                                heading="{{  '{{ c.marketGroupName }}' }}"
                                                                ng-repeat="c in ch.children"
                                                                ng-click="openCategory(c)"
                                                                >
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <p class="small">
                                                                        {{ '{{ c.description }}' }}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </uib-accordion-group>
                                                    </uib-accordion>
                                                </div>
                                            </div>
                                        </uib-accordion-group>
                                    </uib-accordion>
                                </div>
                            </div>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
            </div>
        </uib-accordion-group>
    </uib-accordion>
</div>
